.socials {
	margin-left: 24px;

	@media (max-width: $tablet) {
		margin: 0 0 12px 0;
	}
}

.socials__list {
	display: flex;
	align-items: center;
	// flex-wrap: wrap;
	margin: -8px;

	& > * {
		margin: 8px;
	}
}

// Иконка соц. сети
.social {
	width: 32px;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--icon-bg);
	border-radius: $radius-s;

	&[data-social=telegram] {
		--social: url('data:image/svg+xml,%3Csvg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M17.2208 3.09735L2.44583 8.79485C1.4375 9.19985 1.44333 9.76235 2.26083 10.0132L6.05417 11.1965L14.8308 5.65902C15.2458 5.40652 15.625 5.54235 15.3133 5.81902L8.2025 12.2365H8.20083L8.2025 12.2374L7.94083 16.1474C8.32417 16.1474 8.49333 15.9715 8.70833 15.764L10.5508 13.9724L14.3833 16.8032C15.09 17.1924 15.5975 16.9924 15.7733 16.149L18.2892 4.29235C18.5467 3.25985 17.895 2.79235 17.2208 3.09735Z\" fill=\"%235C5C5C\"/%3E%3C/svg%3E');
	}

	&[data-social=website] {
		--social: url('data:image/svg+xml,%3Csvg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M1.25 10C1.25 12.3206 2.17187 14.5462 3.81282 16.1872C5.45376 17.8281 7.67936 18.75 10 18.75C12.3206 18.75 14.5462 17.8281 16.1872 16.1872C17.8281 14.5462 18.75 12.3206 18.75 10C18.75 7.67936 17.8281 5.45376 16.1872 3.81282C14.5462 2.17187 12.3206 1.25 10 1.25C7.67936 1.25 5.45376 2.17187 3.81282 3.81282C2.17187 5.45376 1.25 7.67936 1.25 10ZM17.25 10C17.25 11.9228 16.4862 13.7669 15.1265 15.1265C13.7669 16.4862 11.9228 17.25 10 17.25C8.07718 17.25 6.23311 16.4862 4.87348 15.1265C3.51384 13.7669 2.75 11.9228 2.75 10C2.75 8.07718 3.51384 6.23311 4.87348 4.87348C6.23311 3.51384 8.07718 2.75 10 2.75C11.9228 2.75 13.7669 3.51384 15.1265 4.87348C16.4862 6.23311 17.25 8.07718 17.25 10Z\" fill=\"%235C5C5C\"/%3E%3Cpath fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M6.25 10C6.25 14.522 7.741 18.25 10 18.25C12.259 18.25 13.75 14.522 13.75 10C13.75 5.478 12.259 1.75 10 1.75C7.741 1.75 6.25 5.478 6.25 10ZM12.25 10C12.25 13.762 11.055 16.75 10 16.75C8.945 16.75 7.75 13.762 7.75 10C7.75 6.238 8.945 3.25 10 3.25C11.055 3.25 12.25 6.238 12.25 10Z\" fill=\"%235C5C5C\"/%3E%3Cpath d=\"M3.602 5.46698L4.608 4.35498C4.708 4.44498 4.817 4.53498 4.933 4.62198C6.204 5.57398 8.233 6.16198 10.448 6.16198C12.339 6.16198 14.1 5.73498 15.379 5.00398C15.687 4.82798 15.961 4.63698 16.198 4.43398L17.172 5.57498C16.8466 5.85099 16.4957 6.09542 16.124 6.30498C14.608 7.17298 12.59 7.66098 10.448 7.66098C7.926 7.66098 5.583 6.98298 4.033 5.82198C3.88396 5.71033 3.74014 5.59187 3.602 5.46698ZM3.602 14.549L4.608 15.661C4.708 15.57 4.817 15.481 4.933 15.394C6.204 14.442 8.233 13.854 10.448 13.854C12.339 13.854 14.1 14.281 15.379 15.012C15.687 15.188 15.961 15.379 16.198 15.582L17.172 14.441C16.8462 14.1655 16.4953 13.9211 16.124 13.711C14.608 12.843 12.59 12.355 10.448 12.355C7.926 12.355 5.583 13.033 4.033 14.194C3.88396 14.3056 3.74014 14.4241 3.602 14.549ZM1.75 10.75V9.24998H18.25V10.75H1.75Z\" fill=\"%235C5C5C\"/%3E%3C/svg%3E');
	}

	&[data-social=vk] {
		--social: url('data:image/svg+xml,%3Csvg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cg clip-path=\"url(%23clip0_27_3789)\"%3E%3Cpath fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M19.5417 4.9565C19.68 4.5015 19.5417 4.1665 18.8792 4.1665H16.6917C16.135 4.1665 15.8783 4.45567 15.7392 4.77484C15.7392 4.77484 14.6267 7.43817 13.0508 9.16817C12.5408 9.66984 12.3092 9.829 12.0308 9.829C11.8917 9.829 11.6825 9.66984 11.6825 9.214V4.9565C11.6825 4.40984 11.5292 4.1665 11.0658 4.1665H7.62583C7.27833 4.1665 7.06917 4.41984 7.06917 4.66067C7.06917 5.17817 7.8575 5.29817 7.93833 6.75484V9.91984C7.93833 10.614 7.81083 10.7398 7.5325 10.7398C6.79083 10.7398 4.98667 8.064 3.91583 5.00234C3.70833 4.4065 3.49833 4.1665 2.93917 4.1665H0.75C0.125 4.1665 0 4.45567 0 4.77484C0 5.34317 0.741667 8.1665 3.45417 11.9007C5.2625 14.4507 7.80833 15.8332 10.1275 15.8332C11.5183 15.8332 11.69 15.5265 11.69 14.9973V13.0698C11.69 12.4557 11.8217 12.3332 12.2625 12.3332C12.5875 12.3332 13.1433 12.4932 14.4417 13.7223C15.925 15.1798 16.1692 15.8332 17.0042 15.8332H19.1917C19.8167 15.8332 20.13 15.5265 19.95 14.9198C19.7517 14.3165 19.0433 13.4407 18.1042 12.4015C17.5942 11.8098 16.8292 11.1723 16.5967 10.8532C16.2725 10.444 16.365 10.2615 16.5967 9.89734C16.5967 9.89734 19.2633 6.209 19.5408 4.9565H19.5417Z\" fill=\"%235C5C5C\"/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=\"clip0_27_3789\"%3E%3Crect width=\"20\" height=\"20\" fill=\"white\"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
	}

	&[data-social=github] {
		--social: url('data:image/svg+xml,%3Csvg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M10 0C4.475 0 0 4.475 0 10C0 14.425 2.8625 18.1625 6.8375 19.4875C7.3375 19.575 7.525 19.275 7.525 19.0125C7.525 18.775 7.5125 17.9875 7.5125 17.15C5 17.6125 4.35 16.5375 4.15 15.975C4.0375 15.6875 3.55 14.8 3.125 14.5625C2.775 14.375 2.275 13.9125 3.1125 13.9C3.9 13.8875 4.4625 14.625 4.65 14.925C5.55 16.4375 6.9875 16.0125 7.5625 15.75C7.65 15.1 7.9125 14.6625 8.2 14.4125C5.975 14.1625 3.65 13.3 3.65 9.475C3.65 8.3875 4.0375 7.4875 4.675 6.7875C4.575 6.5375 4.225 5.5125 4.775 4.1375C4.775 4.1375 5.6125 3.875 7.525 5.1625C8.325 4.9375 9.175 4.825 10.025 4.825C10.875 4.825 11.725 4.9375 12.525 5.1625C14.4375 3.8625 15.275 4.1375 15.275 4.1375C15.825 5.5125 15.475 6.5375 15.375 6.7875C16.0125 7.4875 16.4 8.375 16.4 9.475C16.4 13.3125 14.0625 14.1625 11.8375 14.4125C12.2 14.725 12.5125 15.325 12.5125 16.2625C12.5125 17.6 12.5 18.675 12.5 19.0125C12.5 19.275 12.6875 19.5875 13.1875 19.4875C15.1726 18.8173 16.8976 17.5414 18.1197 15.8395C19.3418 14.1375 19.9994 12.0952 20 10C20 4.475 15.525 0 10 0Z\" fill=\"%235C5C5C\"/%3E%3C/svg%3E');
	}

	&::before {
		content: '';
		width: 62%;
		height: 62%;
		display: block;
		@include mask( center/contain no-repeat var(--social) );
		background: var(--icon-dark);
		transition: $tr;
	}

	&:active {
		background: var(--icon-dark-hover);
	}

	@media (any-hover: hover) {

		&:hover {

			&::before {
				background: var(--icon-dark-hover);
			}
		}

		&:active {
			background: var(--icon-dark);
		}
	}
}