.footer {
	--footer-height: 80px;

	min-height: var(--footer-height);
	width: 100%;
	display: flex;
	background: var(--light);
	border-top: 1px solid var(--border-line);
}

.footer__wrap {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 16px 48px;

	@media (max-width: $tablet) {
		flex-direction: column;
		text-align: center;

		& > * {

			&:not(:last-child) {
				margin: 0 0 16px 0;
			}
		}
	}
}

// Подпись автора
.footer-signa {
	display: flex;
	flex-direction: column;
	margin-right: auto;

	@media (max-width: $tablet) {
		width: 100%;
		align-items: center;
	}
}

.footer-signa__title {
	font-size: 12px;
	color: var(--text-second);
}

.footer-signa__author {
	font-size: 18px;
	margin-top: 2px;
}

.footer__contacts {
	display: flex;
	align-items: center;
	margin-left: 24px;

	@media (max-width: $tablet) {
		flex-direction: column-reverse;
		margin: 0;
	}
}

// Цитата автора
.footer-quote {
	font-size: 14px;
	font-style: italic;
	color: var(--text-second);
	text-align: right;

	@media (max-width: $tablet) {
		text-align: center;
	}
}