// Бургер
.burger {
    position: relative;
    width: 40px;
    height: 40px;
    transition: $tr;

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        height: 2px;
        display: block;
        background: var(--text-primary);
        transition: $tr;

        &:nth-child(1) {
            transform: translate(-50%, calc(-50% - 5px));
        }

        &:nth-child(2) {
            transform: translate(-50%, -50%);
        }

        &:nth-child(3) {
            transform: translate(-50%, calc(-50% + 5px));
        }
    }

    &.is-active {

        & span {

            &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:nth-child(2) {
                width: 0;
            }

            &:nth-child(3) {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}
//========================================================================================================================================================

// Загрузка
// .loader {
// 	position: fixed;
// 	z-index: 2;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;

// 	&::before {
// 		content: '';
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		width: 16px;
// 		height: 16px;
// 		background: center/contain no-repeat url('data:image/svg+xml,%3Csvg width=\"32\" height=\"32\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M32 16C32 12.8355 31.0616 9.74206 29.3035 7.11088C27.5454 4.47969 25.0466 2.42893 22.1229 1.21793C19.1993 0.00692534 15.9823 -0.309928 12.8786 0.307436C9.77486 0.924799 6.92393 2.44865 4.68629 4.68629C2.44865 6.92393 0.924799 9.77486 0.307435 12.8786C-0.309928 15.9823 0.00692538 19.1993 1.21793 22.1229C2.42893 25.0466 4.47969 27.5454 7.11088 29.3035C9.74206 31.0616 12.8355 32 16 32L16 27.2C13.7848 27.2 11.6194 26.5431 9.77761 25.3125C7.93578 24.0818 6.50025 22.3326 5.65255 20.2861C4.80485 18.2395 4.58305 15.9876 5.01521 13.815C5.44736 11.6424 6.51406 9.64675 8.0804 8.0804C9.64675 6.51406 11.6424 5.44736 13.815 5.01521C15.9876 4.58305 18.2395 4.80485 20.2861 5.65255C22.3326 6.50025 24.0818 7.93578 25.3125 9.77761C26.5431 11.6194 27.2 13.7848 27.2 16H32Z\" fill=\"%23858585\"/%3E%3C/svg%3E');
// 		animation: spinLoader linear .5s infinite;

// 		@keyframes spinLoader {
// 			from {
// 				transform: translate(-50%, -50%) rotate(0);
// 			}
// 			to {
// 				transform: translate(-50%, -50%) rotate(360deg);
// 			}
// 		}
// 	}
// }

// Раздел
.section {
    margin: 96px 0;

	&.is-fill {
		// background: $frame-light;
		padding: 50px 0;
	}

	&.have-margin-s {
		margin: 80px 0;

		@media (max-width: $mobile-l) {
			margin: 60px 0;
		}
	}

    @media (max-width: $mobile-l) {
        margin: 64px 0;
    }
}
//========================================================================================================================================================


// Шапка раздела
.s-header {
    margin-bottom: 32px;

    @media (max-width: $mobile-l) {
        margin-bottom: 24px;
    }
}

.s-header__content {
	display: flex;
	flex-direction: column;
}

.s-header__title {
	font-size: 32px;
}

.s-header__subtitle {

}

.s-header__text {

}
//========================================================================================================================================================
