@use "sass:math";

// Миксины
@import "./mixins";

// Шрифты
// @include font('Gilroy', normal, 400, '../resources/fonts/Gilroy/Gilroy-Regular.woff2');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap');

// Переменные
// Текст
$text-primary: #333;
$text-second: #858585;
$text-label: #BDBDBD;
$accent: #D86B6B;
$accent-hover: brig-color($accent, hover);
$accent-active: brig-color($accent, active);
$light: #fff;

$icon-dark: #5C5C5C;
$icon-dark-hover: create-rgba($icon-dark, .8);
$icon-bg: #F5F5F5;

// Задний фон разделов
// $frame-dark: #080A0A;
$frame-light: #FAFAFA;

// Обводка
$border-line: #EFEFEF;

// Радиусы
$radius-s: 8px;
$radius-l: 30px;

// Текстовые поля
$input-placeholder: brig-color(#000, .3);

// Уведомления
$error: #EB5757;

:root {
	--text-primary: #{$text-primary};
	--text-second: #{$text-second};
	--text-label: #{$text-label};
	--accent: #{$accent};
	--accent-hover: #{$accent-hover};
	--accent-active: #{$accent-active};
	--light: #{$light};
	--icon-dark: #{$icon-dark};
	--icon-dark-hover: #{$icon-dark-hover};
	--icon-bg: #{$icon-bg};
	--frame-light: #{$frame-light};
	--border-line: #{$border-line};
}

// ================ Colors End ================


// ================ Responsive Start ================
$min-width: 320px;
$max-width: 1920px;
$max-width-container: 990;
$container-padding: 48;
$container-width: $max-width-container + $container-padding;

$laptop-l: 1500px;
$laptop: 1100px;
$tablet: 800px;
$mobile-l: 450px;
$mobile-m: 390px;
$mobile-s: 330px;
$hide-menu: $tablet;

:root {
	--container-padding: #{math.div($container-padding, 2) + 'px'};

	@media (max-width: $tablet) {
		--container-padding: 30px;
	}

    @media (max-width: $mobile-l) {
		--container-padding: 20px;
    }

    @media (max-width: $mobile-m) {
		--container-padding: 16px;
    }
}
// ================ Responsive End ================


// ================ Other Start ================
$ff-main: Inter, sans-serif;
$tr: .3s;
// ================ Other End ================
//========================================================================================================================================================

// Сброс CSS
@import "./reset";

#root {
	width: 100%;
	height: 100%;
}

html {

	&[data-dark-theme] {

		&:root {
			--text-primary: #DAE0E5;
			--text-second: #8B949E;
			// --text-label: #{$text-label};
			// --accent: #{$accent};
			// --accent-hover: #{$accent-hover};
			// --accent-active: #{$accent-active};
			--light: #0D1117;
			--icon-dark: #8B949E;
			--icon-bg: #21262D;
			// --icon-dark-hover: #{$icon-dark-hover};
			--frame-light: #010409;
			--border-line: #30363D;
		}
	}
}

body {
	font-family: $ff-main;
	font-size: 14px;
	font-weight: 500;
	color: var(--text-primary);
	line-height: 1.2;
	background: var(--frame-light);
	// opacity: 0;

    ._lock & {
        overflow: hidden;
		touch-action: none;
    }

	// & .wrapper {
	// 	opacity: 0;
	// }

	// &.is-show {
	// 	animation: showBody ease-in-out .25s forwards;

	// 	@keyframes showBody {
	// 		from {
	// 			opacity: 0;
	// 		}
	// 		to {
	// 			opacity: 1;
	// 		}
	// 	}
	// }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > .content {
        flex: 1 0 auto;
        position: relative;
        z-index: 1;
		margin: 48px 0;

		& > * {

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
    }
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
*/
[class*="__container"] {
    @if ($max-width-container>0) {
        max-width: $max-width-container + px;
        box-sizing: content-box;
        margin: 0 auto;
    }
    @if ($container-padding>0) {
        padding: 0 var(--container-padding);
    }
}

// Библиотеки
// @import "./libs/swiper";
// @import "./libs/lightgallery";
// @import "./libs/rangeslider";

// Базовые стили, шаблоны, заготовки
@import "./base";

// Общие стили проекта
@import "./common";

// Компоненты
// @import "./components/";

// Карточки
// @import "./components/cards/";

// Модальные окна
// @import "./components/modals/";

@import "./components/pageLink";
@import "./components/socials";

// Секции
@import "./sections/header";
@import "./sections/catalog";
@import "./sections/footer";

// Стили для отдельных страниц
// @import "./pages/";